*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

img {
  width: 100%;
}

body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
  background-color: lightslategray;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  min-height: 100vh;
}

input[type="search"] {
  display: block;
  max-width: 90%;
  font-size: 1.4rem;
  padding: 0.5em 1.5em;
  border: none;
  border-radius: 1em;
  margin: 0 auto 1em auto;
  text-align: center;
}

button {
  display: block;
  font-family: inherit;
  font-size: 1.6rem;
  background-color: #4267B2;
  color: white;
  border: none;
  margin: 1em auto;
  padding: 0.5em 1.5em;
  border-radius: 1em;
  cursor: pointer;
}

button:hover {
  opacity: 0.75;
}

.temp {
  font-size: 4rem;
  font-weight: 900;
}

.icon {
  flex: 1;
  max-width: 10em;
}

.row {
  /* border: solid red 1px; */
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.col {
  width: 100%;
  /* border: solid green 2px; */
  display: flex;
  flex-direction: column;
}

.header {
  align-items:flex-start;
}

.resolved-address {
  align-self: flex-start;
  justify-self: flex-start;
}

.temp {
  justify-self: center;
  align-self: center;
  text-align: center;
}

.conditions {
  text-align: right;
}

.label {
  text-transform: uppercase;
  font-size: 1rem;
}

.data {
  font-size: 1.5rem;
  font-weight: 600;
}

/* Error message */

.display-error {
  display: none;
}

.display-error__icon {
  max-width: 3em;
}

.display-error.active {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-bottom: 2em;
  color: white;
  background-color: #FF0F0F;
  border-radius: 2em;
  padding: 1em;
}

/* Celsius-Fahrenheit Units Slider */

.switch__text {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.switch {
  align-self: center;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}